<http>


<body>

<h3>Agregar opcion de menu</h3>

<form action='' method="POST">{% csrf_token %}
Fecha del menu: 
<input type="date" id="start" name="fecha">

<p>
Almuerzo:
<select name='id_almuerzo'> 
    {% for articulo in almuerzos_l %}
        <option value={{articulo.id}}>{{articulo.id}} &nbsp; {{articulo.nombre}} </option> 
    {% endfor %}
</select> 
</p>

<p>
Ensalada:
<select name='id_ensalada'> 
    <option value='sin'> Sin ensalada </option> 
    {% for articulo in ensaladas_l %}
        <option value={{articulo.id}}>{{articulo.id}} &nbsp; {{articulo.nombre}} </option> 
    {% endfor %}
</select> 
</p>

<p>
Postre:
<select name='id_postre'> 
    <option value='sin'> Sin postre </option> 
    {% for articulo in postres_l %}
        <option value={{articulo.id}}>{{articulo.id}} &nbsp; {{articulo.nombre}} </option> 
    {% endfor %}
</select> 
</p>

<input type="submit" value="Agregar">

</form>

</body>

</http>