<html>

<body>

    <p><h2> Hola {{user}}. Estas viendo el Menú para el día {{fecha}}</h2></p>
    <p>Tienes hasta las 11 del día para mandar tu menú</p>

    {% if menus %}
        <p>Cantidad encontrada: {{menus|length}} </p>
        <table border="2">
            <tr>
                <th>Menú </th>
                <th>Id del Menú </th>
                <th>Almuerzo    </th>
                <th>Ensalada    </th>
                <th>Postre  </th>
            </tr>
            {% for menu in menus %}
            <tr>
                <td>{{forloop.counter}}         </td>
                <td>{{menu.id}}                 </td> 
                <td>{{menu.id_almuerzo.nombre}} </td>
                <td>{{menu.id_ensalada.nombre}} </td>
                <td>{{menu.id_postre.nombre}}   </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No se han encontrados menus </p>
    {% endif  %}
    
    <p> ¿Que menú desea seleccionar? </p>
    
    <form action='/menu/{{uuid}}/' method="POST">{% csrf_token %}
        <p>Menú a seleccionar: 
        <select name='id_menu'> 
            {% for menu in menus %}
                <option value={{menu.id}}>{{forloop.counter}} </option> 
            {% endfor %}
        </select> 
        <p>Notas: <input type="text" name='texto'></p>
        <input type="submit" value="Seleccionar menú">
    </form>

    <form action='/' method='GET'>
        <input type='submit' value='Volver a Menu de Gestión'>
    </form>

</body>

</html>