<html>

<body>

    <p>Elegir Menú a Eliminar</p>

    {% if menus %}
        <p>Cantidad encontrada: {{menus|length}} </p>
        <table border="2">
            <tr>
                <th>Id del Menú </th>
                <th>Almuerzo    </th>
                <th>Ensalada    </th>
                <th>Postre  </th>
            </tr>
            {% for menu in menus %}
            <tr>
                <td>{{menu.id}}                 </td> 
                <td>{{menu.id_almuerzo.nombre}} </td>
                <td>{{menu.id_ensalada.nombre}} </td>
                <td>{{menu.id_postre.nombre}}   </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No se han encontrados menus </p>
    {% endif  %}
    
    <p> ¿Que menú desea seleccionar? </p>
    
    <form action='/eliminar_menu/' method="POST">{% csrf_token %}
        <p>Menú a seleccionar: 
        <select name='id_menu'> 
            {% for menu in menus %}
                <option value={{menu.id}}>{{menu.id}} </option> 
            {% endfor %}
        </select> 
        <input type="submit" value="Eliminar menú">
    </form>

    <form action='/' method='GET'>
        <input type='submit' value='Volver a Menu de Gestión'>
    </form>

</body>
</html>