<html>

<body>

    <p> Estas viendo la tabla <strong>{{valor}}</strong></p>

    {% if articulos %}
        <p>Cantidad encontrada: {{articulos|length}} </p>
        <table border="2">
            <tr>
                <th>id </th>
                <th>Nombre </th>
                <th>Descripcion   </th>
            </tr>
            {% for articulo in articulos %}
            <tr>
                <td> {{articulo.id}} </td
                ><td> {{articulo.nombre}} </td>
                <td>  {{articulo.descripcion}} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No se han encontrado platos </p>
    {% endif  %}

    <form action='/' method='GET'>
        <input type='submit' value='Volver a Menu de Gestión'>
    </form>

</body>

</html>